<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Tycho Tutorial" sequenceNumber="1438290455">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.atmosphere.runtime" version="2.7.2.v202109010034"/>
      <repository id="repackaged" location="https://idempiere.github.io/binary.file/p2.repackaged/12.0.0/"/>
    </location>
    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.opentest4j" version="1.3.0"/>
      <unit id="org.opentest4j.source" version="1.3.0"/>
      <unit id="org.eclipse.text" version="3.13.100.v20230801-1334"/>
      <repository id="eclipse-2023-09" location="https://download.eclipse.org/eclipse/updates/4.29"/>
    </location>
    <location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>org.eclipse.jetty</groupId>
          <artifactId>jetty-server</artifactId>
          <version>12.0.14</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.eclipse.jetty</groupId>
          <artifactId>jetty-server</artifactId>
          <version>12.0.14</version>
          <type>jar</type>
          <classifier>sources</classifier>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
      <groupId>commons-lang</groupId>
      <artifactId>commons-lang</artifactId>
      <version>2.6</version>
      <type>jar</type>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>org.apache.lucene</groupId>
          <artifactId>lucene-core</artifactId>
          <version>8.4.1</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   wrapped.${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
  </locations>
</target>
